#ignore phpstorm .idea folder
.idea/*
#ignore css files
assets/css/*

#ignore js files
assets/js/bootstrap.min.js
assets/js/jquery-3.4.1.min.js

#ignore image folder
assets/img
#ignore .sass-cache folder
.sass-cache/*